/*
*= require reset.css
*= require bootstrap.min.css
*= require defaults.css.less
*= require forms.css
*= require_dir other
*/

.field {
  margin-top: 10px;
}

label {
  margin-right: 10px;
}

.error_msg{
  margin-left: 140px;
  margin-bottom: 0px;
}

label.error{
  float: none;
  margin-left: 10px;
  color: #DD6F4D;
}

input, textarea {
  width:200px;
}

input[type='file']{
  margin-right: 10px;
}